@font-face {
    font-family: 'StratosSkyeng';
    src: url(/fonts/stratosskyeng-regular.otf) format('ttf'),
        url(/fonts/stratosskyengweb-regular.woff) format('woff');
    font-weight: 500;
}

@font-face {
    font-family: 'StratosSkyeng';
    src: url(/fonts/stratosskyeng-medium.otf) format('ttf'),
        url(/fonts/stratosskyengweb-medium.woff) format('woff');
    font-weight: 400;
}

@font-face {
    font-family: 'StratosSkyeng';
    src: url(/fonts/stratosskyeng-bold.otf) format('ttf'),
        url(/fonts/stratosskyengweb-bold.woff2) format('woff');
    font-weight: 700;
}

* {
    padding: 0px;
    margin: 0px;
}

.conteiner {
    margin-bottom: -20px;
}

.wrapper {
    height: 100vh;
    background-color: #004980;
    width: 100%;
    &__screen1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__screen2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.content {
    &__screen1 {
        width: 480px;
        height: 459px;
        background-color: #c2f5ff;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    &__screen2 {
        padding: 25px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 950px;
    }
}

.title {
    width: 208px;
    height: 96px;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #004980;
}

.button__lvl {
    display: flex;
    gap: 24px;
}

.btn {
    background: #ffffff;
    border-radius: 12px;
    width: 98px;
    height: 98px;

    font-family: 'StratosSkyeng';
    font-size: 64px;
    line-height: 72px;
    color: #0080c1;
    border-color: transparent;
}

.button {
    background: #7ac100;
    border-radius: 12px;
    width: 246px;
    height: 50px;
    border-color: transparent;

    font-family: 'StratosSkyeng';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #ffffff;
    &__hiding {
        background-color: gray;
    }
}

.add__color {
    background-color: #7ac100;
}

.min-sec {
    position: relative;
    display: flex;
    justify-content: flex-end;
    top: 10px;
    padding-right: 7px;

    font-family: 'StratosSkyeng';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #ffffff;
}

.min {
    padding-right: 55px;
}

.watch {
    display: flex;
    font-family: 'StratosSkyeng';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 72px;
    color: #ffffff;
}

.card-field {
    display: flex;
    width: 975px;
    height: 543px;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.card{
}

.shirt{
width: 83px;
height: 121px;
background: #E4FBFF;
border-radius: 4px;
padding : 6px;
display: none;
}

.shirt_pick{
    
}